nav {
	background-color: blue;
	white-space: nowrap;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.center {
	text-align: center;
}

.container {
	max-width: 95%;
}

.control-panel {
    bottom: 50px;
    width: 100%;
}
